body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    display: block;
}

div.wrap {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

h1.top-logo {
    padding-top: 30px;
    text-align: center;

}

h1.top-logo i {
    color: red;
    font-size: 200px;
}

nav.menu {
    margin-top: 20px;
    color: #FFF;
    font-size: 90%;
}

nav.menu a {
    color: #FFF;
    text-decoration: none;
}

nav.menu a:hover {
    color: pink;
}

nav.menu ul {
    padding: 0;
}

nav.menu ul li {
    border-bottom: #CCC solid 1px;
    list-style: none;
    padding: 4px 8px;
}

.share_facebook {
    background-color: #005580;
    display: inline-block;
    padding-right: 10px;
    top: -4px;
    position: relative;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-left: 2px;
}

.user-guide {
    text-align: center;
    margin: 16px auto;
}

footer {
    margin-top: 30px;
    color: #FFF;
    font-size: 80%;
    text-align: center;
}

